In [ ]:
MYSQL INTRODUCTION 
=====================================

-> Mysql is a database management system.
-> Database is a structured collection of data.
-> To add , access and process data in a computer database , we need a database management system 
   such as Oracle , MS SQL Server , Postgresql , Mysql.

-> Mysql database is relational . 
-> A relational database stores data in seperate tables rather than putting all in one big file.
-> Rules are defined between different tables with related fields.

-> Mysql is open source . Mysql can be downloaded from internet and can be used without paying.
-> Mysql server is fast , reliable , scalable and easy to use.

In [ ]:
MYSQL VERSIONS 
===========================================

-> bugfix series like Mysql 8.4 
-> innovation release like Mysql 8.3

-> both relase contains bug fixes , however innovation release includes new feature.
-> both are meant for production use.


MYSQL 8.0.34 
-> 8 is the major version.
-> 0 is the minor version.
-> 34 is the bugfix release version.

In [ ]:
INSTALLING MYSQL ON LINIX USING GENERIC BINARIES
=============================================================


-> Download the TAR binary from the MySQL Downloads page, at https://dev.mysql.com/downloads/mysql/, 
   then choose Linux - Generic as the OS and select the version. You can download directly onto your 
   server  directly using the wget command:

  wget "https://downloads.mysql.com/archives/get/p/23/file/mysql-8.0.20-linux-glibc2.12-x86_64.tar.xz"


-> MySQL has a dependency on the libaio library. The data directory initialization, and subsequent server 
   startup steps, will fail if this library is not installed locally.

   yum install -y libaio


-> The OS 8 platforms by default do not install the file /lib64/libtinfo.so.5, which is required by the
   MySQL client  bin/mysql , To work around this issue, install the ncurses-compat-libs package.

   yum install ncurses-compat-libs


-> Add the mysql group and the mysql user. All the files and directories should be under the mysql user

   groupadd mysql
   useradd -r -g mysql -m-s /bin/false mysql
   cd  /home/mysql
   tar -zxvf mysql-8.0.20-linux-glibc2.12-x86_64.tar.xz
   cd /usr/local
   ln -s /home/mysql/mysql-8.0.20-linux-glibc2.12-x86_64 mysql  # make symbolic link
   export PATH=$PATH:/usr/local/mysql/bin


-> Create seperate directories for data , redolog , binlog , errorlog and systemdata 

   mkdir -p /opt/mysql/data
   mkdir -p /opt/mysql/redolog
   mkdir -p /opt/mysql/undolog
   mkdir -p /opt/mysql/systemdata
   mkdir -p /opt/mysql/mysql-files
 
   chown -R mysql:mysql /opt/mysql/
   chmod 750 /opt/mysql/mysql-files


-> Start mysqld by specfying datadir and user mysql 

   mysqld --initialize --datadir=/opt/mysql/data --user=mysql

   mysql_ssl_rsa_setup --datadir=/opt/mysql/data/

   mysqld_safe --user=mysql --datadir=/opt/mysql/data &

   mysql_secure_installation 


-> Copy startup files to init.d for auto start and update the datadir in the file

   cp support-files/mysql.server /etc/init.d/mysql.server

   vi /etc/init.d/mysql.server  -- datadir=/opt/mysql/data

   /etc/init.d/mysql.server stop
   /etc/init.d/mysql.server start


-> Create option/configuration file by adding different options

   vi /etc/mysql/my.cnf

    [mysqld]

    innodb-data-file-path = ibdata1:12M:autoextend
    innodb-data-home-dir = /opt/mysql/systemdata/

    innodb-undo-directory = /opt/mysql/undolog

    innodb-log-group-home-dir = /opt/mysql/redolog

    innodb-temp-data-file-path = /opt/mysql/tempdata/ibtmp1:12M:autoextend

    log-bin = /opt/mysql/binlog/prod01_binlog
    log-bin-index = /opt/mysql/binlog/prod01_binlog.index

    log-error = /opt/mysql/errorlog/prod01_mysqld.log

    server-id = 1
    

-> move files to respective directories and start the mysqld 

    [root@mysqlprod01 data]# mv ibdata1 ../systemdata/
    [root@mysqlprod01 data]# mv ib_logfile* ../redolog/

    mysqld_safe --user=mysql --datadir=/opt/mysql/data --syslog &

    mysql> select @@hostname , @@version;

In [ ]:
Installing MySQL on Linux Using the MySQL Yum Repository
 =======================================================================

 https://dev.mysql.com/downloads/repo/yum/

 
 -> install the repo locally and check /etc/yum.repos.d/ directory

     yum localinstall mysql84-community-release-el8-1.noarch.rpm

 -> check which version is enabled

    yum repolist enabled | grep mysql.*-community

 -> if you want to install 8.0 , then disable 8.4 and enable 8.0

    yum-config-manager --disable mysql-8.4-lts-community

    dnf config-manager --enable  mysql80-community  ( dnf is a newer tool similar to yum )

 -> install 8.0 community server

    yum install mysql-community-server


 -> start MySql service and enable auto-start 

      systemctl start mysqld
      systemctl enable mysqld.service

 -> change password of root user 

    grep 'temporary password' /var/log/mysqld.log
    mysql -u root -p


 -> verify whether mysql is running

    systemctl status mysqld
    pidof mysqld
    netstat -ntlp | grep 3306
    lsof -u mysql   ( list open files by user mysql)

In [ ]:
Installing MySQL on Linux Using  RPM Packages
=======================================================================

-> download locally the RPM packages from mysql site.

     mysql-community-server-8.0.20-1.el8.x86_64.rpm
     mysql-community-client-8.0.20-1.el8.x86_64.rpm
     mysql-community-libs-8.0.20-1.el8.x86_64.rpm
     mysql-community-devel-8.0.20-1.el8.x86_64.rpm
     mysql-community-common-8.0.20-1.el8.x86_64.rpm
     mysql-community-icu-data-files-8.0.20-1.el8.x86_64.rpm

-> install the packages individually or all at once.

    yum localinstall mysql-community-*.rpm

-> check the installed packages and start the server

    rpm -qa | grep mysql
    systemctl start mysqld
    systemctl enable mysqld

In [ ]:
Installing MySQL on Linux With Dokcer Containers
=======================================================================

-> add users to docker group 

   usermod -a -G docker mysqluser
   id mysqluser

-> search and pull mysql image 

   docker images
   docker ps
   docker search mysql
   docker pull mysql   ( for latest )
   docker pull mysql/mysql-server:8.0.30    ( for specific version )
   docker images

-> run mysql container 

   docker run --name mysql_8030 -e MYSQL_ROOT_PASSWORD=Root@2024 -d mysql/mysql-server:8.0.30

   dokcer ps
   docker logs <container_name>


-> go into docker mysql host

   docker exec -it <container_name> bash 
   mysql -u root -p
   select @@hostname , @@version


->  run mysql container exposing the port 3306 from container to host. 
    by this outside client can be connected to mysql which is running in the container.

    docker run --name mysql_8030 -e MYSQL_ROOT_PASSWORD=Root@2024 -d -p 3306:3306 
           mysql/mysql-server:8.0.30
               
-> run mysql container by binding local volume to container volume.
   by this even if the docker container is removed the local volume will not be destroyed.
   you can start new mysql container with this data.

   docker run --name mysql_8030 -e MYSQL_ROOT_PASSWORD=Root@2024 -d -p 3306:3306
   -v /var/lib/mysql:/var/lib/mysql mysql/mysql-server:8.0.30

In [ ]:
MySQL Upgrades 
===============================

Minor version upgarde -  8.0.28 -> 8.0.30  , in-place

Major version upgrade -  5.7 -> 8.0 , remove old and install new

-> Upgrade from 5.7 to 8.0 is suppoerted.
-> Upgrade is supported only between General Availabilty (GA).
-> Skipping a release is also supported ( 8.0.21 -> 8.0.23).


Upgrade Types 
===================

-> in-place upgrade - replacing the mysql server packages.
-> logical upgrade - exporting sql from old mysql instance into new.
-> replication topology upgrade.


Parts upgraded during the upgrade 
===========================================

-> Data dictionary upgrade - data dictionary tables in mysql , performance_schema , information_schema
                             and ndbinfo.

-> Server upgrade - system tables in mysql , sys schema and user schemas.

-> prior to 8.0.16 an extra step of mysql_upgrade has to be run by DBA.

-> After 8.0.16 the server itself performs all the tasks handled by mysql_upgrade.

In [ ]:
Minor Version Upgrade From 8.0.30 -> 8.0.35 ( rpm pacakges )
===============================================================

-> check issues in the current database objects if any 

     mysqlcheck --all-databases --check-upgrade

-> check the target version is valid for upgrade

   mysqlsh -- util check-for-server-upgrade root@localhost --target-version=8.0.35 --output-format=JSON 
              --config-path=/etc/my.cnf

-> Download 8.0.35 rpm packages 

->  Stop the mysqld server and install the packages

     systemctl stop mysqld

     yum localinstall mysql-community-*

-> verify the installed pacakges 

   rpm -qa | grep mysql

->  Start the mysqld server and check 
  
     systemctl start mysqld
     systemctl status mysqld
     pidof mysqld
     netstat -ntlp | grep 3306

In [ ]:
Major version upgrade from 5.7 to 8.30 ( binary )
=================================================================

-> check issues in the current database objects if any 

     mysqlcheck --all-databases --check-upgrade

-> check the target version is valid for upgrade

    mysqlsh -- util check-for-server-upgrade root@localhost --target-version=8.0.30 
            --output-format=JSON --config-path=/etc/mysql/my.cnf

-> downlod MYSQL 8.0.30 version binary 

   tar -xvf mysql-8.0.30-linux-glibc2.12-x86_64.tar.xz

->  shutdown mysqld service , unlink old binary and link to new binary

     /etc/init.d/mysql.server stop
     cd /usr/local
     unlink mysql
     ln -s /home/mysql/mysql-8.0.30-linux-glibc2.12-x86_64 mysql

-> start mysql , check and verify

   /etc/init.d/mysql.server start
   pidof mysqld
   netstat -ntlp | grep 3306

In [ ]:
Major version upgrade from 5.7 to 8.0.10 ( rpm packages )
=================================================================

-> check issues in the current database objects if any 

     mysqlcheck --all-databases --check-upgrade

-> check the target version is valid for upgrade

    mysqlsh -- util check-for-server-upgrade root@localhost --target-version=8.0.10 
            --output-format=JSON --config-path=/etc/mysql/my.cnf

-> downlod MYSQL 8.0.10 rpm packages 

->  shutdown mysqld service , and remove 5.7 packages

    systemctl stop mysqld
    pidof mysqld

    yum remove mysql-community-server-5.7.20-1.el7.x86_64
    yum remove mysql-community-common-5.7.20-1.el7.x86_64

-> install new 8.0.10 packages

   yum localinstall mysql-community-*

   rpm -qa | grep mysql

-> start mysql service and run upgrade ( prior to 8.0.16 )

   systemctl start mysqld

   mysql_upgrade

   select @@hostname , @@version;

In [ ]:
Downgrading MySQL 
=======================================

-> Downgrade from MySQL 8.0 to MySQL 5.7 is not supported.

-> Downgrade from a MySQL 8.0 release to a previous MySQL 8.0 release is also not supported.

-> Only supported alternative is to restore from a backup taken before upgrade.

In [ ]:
MySQL PROGRAMS 
================================

mysqld - is the main server program that does most of work in mysql installation.

mysqld_safe - is the server startup script and starts mysqld.

mysql.server - is also a server startup script . this invokes mysqld_safe to start the mysql server.

mysqld_multi - is a program that helps to start multiple mysql servers.

mysql_secure_installation - is a program that helps in securing mysql server.

mysql_ssl_rsa_setup - creates ssl certificates and key files for secure connections.

mysql_tzinfo_to_sql - this program loads the time zone tables in the mysql database from the 
                      host zoneinfo database.

mysql_upgrade - prior to 8.0.16 this program is used during upgrade after the new version is installed.

mysql - command line tool to access the mysql server.

mysqladmin - program used for administrative tasks.

mysqlcheck - program is used to repair , analyse and optimise tables.

mysqldump - program is used to dump mysql database into a file such as sql , text or xml.

mysqlimport - program is used to import text files into tables.

mysqlpump - similar to mysqldump with extra features.

mysqlsh - is a command line tool with extra scripting abilites like javascript and python.

mysqlshow - displays information about databases , tables ,columns and indexes.

mysqlslap - load emulation client. 

mysql_config_editor - used to store credentials in secure and encrypted form.

mysqlbinlog - used to read statements from binlog. this can be used during crash recovery and PITR.

mysqldumpslow - used to summarize the contents of slow query log.

In [ ]:

MySQL Config Editor 
=============================

-- helps in storing encrypted database credentials.
-- with filname .mylogin.cnf in users home directory.
-- default group is [client] and for any other group --login-path has to be specicified.

mysql_config_editor set -u root -p

mysql_config_editor print

mysql_config_editor print --all

mysql_config_editor set --login-path=dbadmin_client -u db_admin -p

mysql_config_editor reset


mysql_tzinfo_to_sql program
=======================================

-- loads time zone data from zoneinfo database into mysql database.
-- location in linux is /usr/share/zoneinfo

mysql_tzinfo_to_sql /usr/share/zoneinfo/ | mysql mysql


mysqlshow program
================================

-- displays database , table and column information.

mysqlshow employeesdb

mysqlshow employeesdb employees

mysqlshow employeesdb employees emp_id


mysqlcheck program
=======================================

-- is a table maintenence program , it checks , repairs , oprtimize or analyse the table.
-- table will be locked during the opertion.
-- -c check , -a analyze , -o optimize , -r repair.
-- -c is default.

mysqlcheck employeesdb employees

mysqlcheck -o -a employeesdb employees

mysqlcheck -r employeesdb employees


mysqlimport program
===================================

-- is a data import program , takes .txt file as input with tab delimited and table name as filename.
-- can be loaded only with location of secure_file_priv variable.

mysqlimport employeesdb staff_data.txt


MySQL Executing SQL Files 
==========================================

mysql> source create_table_staff.sql

mysql> \. create_table_staff.sql

mysql < create_table_staff.sql 

[mysqluser@mysqlserver ~]$ cat create_table_staff.sh
mysql < $1

[mysqluser@mysqlserver ~]$ ./create_table_staff.sh create_table_staff.sql &


Mysqladmin Program
===================================

-- is a program to carry out admin tasks like shutdown , create/drop database , check status , ping , 
   start/stop replica.

mysqladmin ping

mysqladmin status

mysqladmin shutdown

mysqladmin create employeesdb


mysqlpump program 
==============================

-- this is similar to mysqldump which takes logical backup
-- extra features include parallelism which taking backup 
-- dump of just user accounts 

mysqlpump --parallel-schemas=ordersdb,productsdb --parallel-schemas=sakila > db_dump.sql

mysqlpump --exclude-databases=% --users > dump_users.sql


mysqlslap program 
============================

-- is a program to emulate client load on the mysql server and report timing of each stage.
-- it works as if mutiple clients are accessing the server.

mysqlslap --concurrency=5 --iterations=20 --number-int-cols=2 --number-char-cols=3 --auto-generate-sql
                     

mysqlbinlog program 
=============================

-- binary logs or binlogs records changes in the database in binary format.
-- binary logs are used in crash recovery , point-in-time recovery and replication.
-- mysqlbinlog can be used to display the contents of this binary log or the relay log in replica.


output binlog content on screen
--------------------------------------

mysqlbinlog binlog.000006

output binlog content to a file 
--------------------------------------

mysqlbinlog binlog.000006 > /tmp/binlog6.sql

replace database name in the binlog to a different database name
-------------------------------------------------------------------------------

mysqlbinlog --rewrite-db='airportdb->airports' binlog.000006 > /tmp/binlog6_airports.sql

skip gtids inside the binlog 
-----------------------------------------

mysqlbinlog --skip-gtids binlog.000006 > /tmp/binlog6_skipgtid.sql

read binlog from a specicified date time 
---------------------------------------------

[root@bospprod01 mysql]# mysqlbinlog --start-datetime="2024-05-28 03:56:00"  binlog.000006 > 
                         /tmp/binlog6_startdatetime.sql

read binlog from a specified log position 
------------------------------------------------

mysqlbinlog --start-position=14006  binlog.000006 > /tmp/binlog6_startpos.sql

read binlog until a specified date time 
------------------------------------------------

mysqlbinlog --stop-datetime="2024-05-28 03:56:00"  binlog.000006 > /tmp/binlog6_stopdatetime.sql

read binlog until a specified log position 
----------------------------------------------------

[root@bospprod01 mysql]# mysqlbinlog --stop-position=14006  binlog.000006 > /tmp/binlog6_stoppos.sql

read binlog from a specified datetime until a specicified date time
---------------------------------------------------------------------------

 mysqlbinlog --start_datetime="2024-05-28 03:53:00" --stop-datetime="2024-05-28 03:57:00"  
             binlog.000006 > /tmp/binlog6_startstopdatetime.sql

read binlog from a specified log position until a specicified log position
---------------------------------------------------------------------------

mysqlbinlog --start-position=4348 --stop-position=14006  binlog.000006 > /tmp/binlog6_startstoppos.sql

read binlog from a specified log position until a specicified datetime
---------------------------------------------------------------------------

mysqlbinlog --start-position=4348 --stop-datetime="2024-05-28 03:57:00"  binlog.000006 > 
            /tmp/binlog6_startposstopdatetime.sql

read mutile binlog files 
----------------------------------------------

mysqlbinlog binlog.000006 binlog.000007 binlog.000008 > /tmp/binlog6_7_8.sql
 
mysqlbinlog binlog.00000[6-8] > /tmp/binlog_6_7_8.sql


by default row events are displayed as base64 encoded , to show it as sql use --verbose or -v 
------------------------------------------------------------------------------------------------

[root@bospprod01 mysql]# mysqlbinlog -v binlog.000006 > /tmp/binlog6_verbose.sql


mysqlbinlog can be used to backup the binlog to different location ( raw binary format )
--------------------------------------------------------------------------------------------

mysqlbinlog --raw --read-from-remote-server binlog.000003 binlog.000004 binlog.000005

mysqlbinlog --raw --read-from-remote-server --result-file=/home/mysqluser/backups/bosp binlog.000003 
            binlog.000004

mysqlbinlog --raw --read-from-remote-server --result-file=/home/mysqluser/backups/bosp --to-last-log 
            binlog.000003

mysqlbinlog --raw --read-from-remote-server --result-file=/home/mysqluser/backups/bosp --stop-never 
            binlog.000007 &


mysqldumpslow 
===================================

-- is used to summarize slow query logs.

mysqldumpslow /var/lib/mysql/bospprod01-slow.log

In [ ]:
Server configuration
======================================

mysqld has many command options and system variables that can be set up at startup.

To determine the default command option and system variable values we can execute the below :

mysqld --verbose --help 

mysqld --verbose --help | grep innodb-buffer-pool-size

mysql> show variables;

mysql> show variables like '%innodb_buffer%';


mysqld --validate-config can be used to check for any problems or issues in the option file.

In [ ]:
SQL MODES 
===========================

Modes afftect the SQL syntax and the data validation checks performed by Mysql server.

Default sql_mode is ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,
                    ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

sql_mode can be set at runtime or in the option file ( my.cnf )

SET GLOBAL sql_mode = "modes"

SET SESSION sql_mode = "modes"

In [ ]:
Connection Management 
==============================================


connection manager threads handle client connection requests.
connection manager consults thread cache before creating a new thread.
when a connection ends , its thread is returned to thread cache.

thread_cache_size determines the size of thread cache , if its 0 then its disabled.

mysql> show variables like '%thread_cache%';

mysql> show global status like 'threads%';



The max number of connections allowed is controlled by max_connections variable.

mysql> show variables like '%max_connections%';


The maximum number of client connections depends on several factors :

-- the quality of thread library , amount of RAM available.
-- workload from each connection.
-- number of file descriptors available.


check default number of file descriptors available in linux for users 
-----------------------------------------------------------------------

ulimit -n  ( default value 1024 )

increase the number of file descriptors to match max_connections
---------------------------------------------------------------------

cat /etc/security/limits.conf | grep -v '^#'

*                soft    nofile          5000
*                hard    nofile          5000

increase the max_connections in mysql my.cnf 
----------------------------------------------------

[root@mysqlprod02 ~]# cat /etc/my.cnf | grep max-connection
max-connections = 1500
[root@mysqlprod02 ~]# 


DNS LOOKUP and HOST CACHE 
=========================================

The mysql server maintains a in-memory host cache that contains info about clients IP , 
hostname and error information.

host_cache_size | 628
max_connect_errors | 100


Mysql server time zone support 
==========================================

-- when the server starts , it attempts to determine the time zone of the host machine and uses 
   it to set the system_time_zone system varaible.

-- you can set the default-time-zone in option file OR set global and session time_zone 
   variable at run-time 

-- you can load the time zone tables in mysql database with zoneinfo database of the OS using 
   mysql_tzinfo_to_sql program

-- load from single time zone file 

    mysql_tzinfo_to_sql /usr/share/zoneinfo/UTC UTC | mysql mysql

-- load from zoneinfo directory 

    mysql_tzinfo_to_sql /usr/share/zoneinfo/ | mysql mysql

mysql> set time_zone = 'UTC';

mysql> set global time_zone = 'UTC';

In [ ]:
General query log and slow query log output destinations
=====================================================================


-- log output destination can be set in option file or at run-time using log-output variable 
   ( TABLE , FILE , NONE )

mysql> select @@GLOBAL.log_output ,  @@GLOBAL.general_log , @@GLOBAL.slow_query_log;


--set log-output to TABLE and enable general log and slow query log 

mysql> set global log_output = 'TABLE';

mysql> set global general_log = 'ON';

mysql> set global slow_query_log = 'ON';


mysql> select * from mysql.general_log \G

mysql> select * from mysql.slow_log \G


--set log-output to both TABLE and FILE

mysql> set global log_output = 'TABLE,FILE';


General Query Log
===========================

  - logs each statement received from clients , binary log does not contain select statements.
  - by default its is disabled , enable by setting general_log = 1 and general_log_file = file_name.
  - it can grow exponentially as it logs every statement.


  mysql> show variables like '%general_log%';


Slow Query Log
=========================================

  - logs queries that takes more than long_query_time seconds to execute and require atleast 
    min_examined_row_limit rows to be examined.
  - is disabled by default , enable by setting slow_query_log = 1 and slow_query_log_file = file_name.
  - mysqldumpslow can be used to summarise the contents.
  - by default admin statements and queries that do not use index are not captured.

  [root@MySqlServer1 ~]# cat /etc/my.cnf | grep query
        slow_query_log = 1
        slow_query_log_file = /var/lib/mysql/MySqlServer1-slow.log
        long_query_time = 5


Error Log
=================================================

    - logs server startup and shutdown time.
    - logs errors , warnings that occur during startup or shutdown of mysqld.
    - logs table check and repair logs.

mysql> show variables like 'log_error';

In [ ]:
Binary log 
==========================================


 -- is a set of log files that contain information about data modifications made to mysql database.
 -- is used for replication . the master server sends the events contained in its binary log to
    its slaves , which executes those events to make the same data changes that wer made in master.
 -- is used during database recovery opeartions( point in time recovery)


Types of Binary log:
    
    statement-based logging - conatins sql statements.
    row-based logging - contains changes done to individual rows. ( default )
    mixed logging - by default statement-based but switches to row based automatically as necessary.


mysqlbinlog utility can be used to print binary or relay log in readable format.


log_bin                   | ON                                      
log_bin_basename          | /var/lib/mysql/mysqlprod02_binlog     ( binlog )  
log_bin_index             | /var/lib/mysql/mysqlprod02_binlog.index (binlog.index)
binlog_format             | MIXED  ( STATEMENT OR ROW )


mysql> show binary logs;

mysql> show binlog events;

mysql> show binlog events in 'mysqlprod02_binlog.000011';


you can also enable compression for binary logs which will save storage space.


binlog_transaction_compression            | OFF   |
binlog_transaction_compression_level_zstd | 3     |

In [ ]:
Character sets and collations 
=============================================

-- A character set is a set of symbols and encodings.
-- A collation is a set of rules for comparing characters in a character set.

Example : symbols A,B,a,b may have encodings 0,1,2,3.
          The combination of this symbols and encodings is a character set.


Available character sets in Mysql 
---------------------------------------------------------

mysql> show character set;

mysql> show character set like '%latin%';

mysql> show character set like '%utf%';


Default character sets and collation assigned in Mysql 
--------------------------------------------------------------

mysql> show variables like '%character%';
+--------------------------+--------------------------------+
| Variable_name            | Value                          |
+--------------------------+--------------------------------+
| character_set_client     | utf8mb4                        |
| character_set_connection | utf8mb4                        |
| character_set_database   | utf8mb4                        |
| character_set_filesystem | binary                         |
| character_set_results    | utf8mb4                        |
| character_set_server     | utf8mb4                        |
| character_set_system     | utf8mb3                        |
| character_sets_dir       | /usr/share/mysql-8.0/charsets/ |
+--------------------------+--------------------------------+
8 rows in set (0.00 sec)

mysql> show variables like '%collation%';
+-------------------------------+--------------------+
| Variable_name                 | Value              |
+-------------------------------+--------------------+
| collation_connection          | utf8mb4_0900_ai_ci |
| collation_database            | utf8mb4_0900_ai_ci |
| collation_server              | utf8mb4_0900_ai_ci |
| default_collation_for_utf8mb4 | utf8mb4_0900_ai_ci |
+-------------------------------+--------------------+
4 rows in set (0.00 sec)


Change server character set 
-------------------------------------------------

[root@mysqlprod02 ~]# vi /etc/my.cnf
[root@mysqlprod02 ~]# 
[root@mysqlprod02 ~]# cat /etc/my.cnf | grep character
character-set-server = latin1
[root@mysqlprod02 ~]# 
[root@mysqlprod02 ~]# systemctl restart mysqld
[root@mysqlprod02 ~]# 

mysql> select SCHEMA_NAME,DEFAULT_CHARACTER_SET_NAME,DEFAULT_COLLATION_NAME 
       from information_schema.schemata;


Assign character set at database creation 
-------------------------------------------------------

mysql> create database billingdb character set hebrew;

mysql> select SCHEMA_NAME,DEFAULT_CHARACTER_SET_NAME,DEFAULT_COLLATION_NAME 
       from information_schema.schemata;


Assign character set at table creation 
--------------------------------------------------

mysql> create table sales_details ( sales_id int , sales_desc varchar(100) , sales_date datetime )
       character set latin5;

mysql> select TABLE_NAME,TABLE_TYPE,ENGINE,TABLE_COLLATION from information_schema.tables
       where TABLE_SCHEMA = 'billingdb';


Assign character set at column level 
-----------------------------------------------

mysql> create table sales_data ( sales_id int , 
        sales_short_desc varchar(100) character set latin1,
        sales_date datetime
        );


mysql> select TABLE_NAME,COLUMN_NAME,CHARACTER_SET_NAME,COLLATION_NAME from information_schema.columns 
       where TABLE_SCHEMA = 'billingdb';


Modifying character set at table or column level 
---------------------------------------------------------

mysql> alter table sales_data modify sales_short_desc varchar(100) character set latin5;
Query OK, 3 rows affected (0.08 sec)
Records: 3  Duplicates: 0  Warnings: 0

mysql> select TABLE_NAME,COLUMN_NAME,CHARACTER_SET_NAME,COLLATION_NAME from information_schema.columns
       where TABLE_SCHEMA = 'billingdb';

In [ ]:
Storage Engines
=================================

mysql> show engines;
+--------------------+---------+----------------------------------------------------------------+--------------+------+------------+
| Engine             | Support | Comment                                                        | Transactions | XA   | Savepoints |
+--------------------+---------+----------------------------------------------------------------+--------------+------+------------+
| FEDERATED          | NO      | Federated MySQL storage engine                                 | NULL         | NULL | NULL       |
| MEMORY             | YES     | Hash based, stored in memory, useful for temporary tables      | NO           | NO   | NO         |
| InnoDB             | DEFAULT | Supports transactions, row-level locking, and foreign keys     | YES          | YES  | YES        |
| PERFORMANCE_SCHEMA | YES     | Performance Schema                                             | NO           | NO   | NO         |
| MyISAM             | YES     | MyISAM storage engine                                          | NO           | NO   | NO         |
| MRG_MYISAM         | YES     | Collection of identical MyISAM tables                          | NO           | NO   | NO         |
| BLACKHOLE          | YES     | /dev/null storage engine (anything you write to it disappears) | NO           | NO   | NO         |
| CSV                | YES     | CSV storage engine                                             | NO           | NO   | NO         |
| ARCHIVE            | YES     | Archive storage engine                                         | NO           | NO   | NO         |
+--------------------+---------+----------------------------------------------------------------+--------------+------+------------+
9 rows


Federated Storage Engine 
===================================

-- is used to create a table in one server that will point to a table in another mysql server.
-- this is similar to MS SqlServer linked server and orale database link.
-- the source and target table should have same column name , target can also be subset of source table.
-- the source table can be of any storage engine but the target/requestor table should be FEDRERATED engine.
-- this is disabled by default.


Enable Federated storage engine in Requestor server 
-------------------------------------------------------------------------------

vi /etc/my.cnf
cat /etc/my.cnf | grep fed
federated
systemctl restart mysqld

mysql> select engine , support , comment from information_schema.engines 
where engine like '%fed%';
+-----------+---------+--------------------------------+
| engine    | support | comment                        |
+-----------+---------+--------------------------------+
| FEDERATED | YES     | Federated MySQL storage engine |
+-----------+---------+--------------------------------+

In Source server create user for use in the link and create a table
-----------------------------------------------------------------------------------------

mysql> create user 'link_user'@'%' identified by 'Link!2024';

mysql> grant select on posdb.* to 'link_user'@'%';


Create a table in requestor server and link to the source table 
-----------------------------------------------------------------------------------------

create table employee_details (
emp_id int primary key,
emp_name varchar(100),
emp_dob date,
emp_email varchar(100)
) engine = federated
connection = 'mysql://link_user:Link!2024@192.168.153.133:3306/posdb/employee_details'


create table in requestor server with subset of columns from source table 
-----------------------------------------------------------------------------------------

mysql> create table emp_details_idname_federated (
    -> emp_id int primary key,
    -> emp_name varchar(100)
    -> ) engine = federated
    -> connection = 'mysql://link_user:Link!2024@192.168.153.133:3306/posdb/employee_details';


BlackHole Storage Engine
====================================

-- acts like a black hole , anything goes insides never comes back.
-- it is just like /dev/null in linux.


Memory Storage Engine 
==========================================

-- data is stored in memory instead of disk hence fast retreival.
-- not persistent , data will be lost on server restart.
-- usefull for temporary tables.


CSV storage engine 
==============================

-- stores table in text format with commas seperated values.
-- can be read and written by spreadsheet applications like excel.
-- does not support transactions and index.


MyISAM storage engine 
==========================

-- My + ISAM - Indexed Sequence Access Method.
-- indexing algorithm developed by IBM used in faster retreival of large sets of data.
-- does not support transactions.


Archive storage engine
====================================

-- stores table data in compressed format , .ARZ file.
-- uses gzip to compress rows.
-- No partitioning , No delete or update operation.
-- No index support.


Innodb Storage Engine 
=========================================

-- is a general-purpose storage engine that balances high reliablity and high performance.
-- is the default storage engine from 8.0
-- follows ACID model , with transactions featuring commit , rollback and crash-recovery.
-- supports row level locking and mvcc.
-- supports foreign key constraints for data-integrity.

mysql> show engines;

mysql> select * from information_schema.engines
    -> where support = 'Default';
+--------+---------+------------------------------------------------------------+------------
| ENGINE | SUPPORT | COMMENT                           | TRANSACTIONS | XA   | SAVEPOINTS |
+--------+---------+------------------------------------------------------------+------------
| InnoDB | DEFAULT | Supports transactions, row-level  | YES          | YES  | YES        |
                     locking, and foreign keys
+--------+---------+------------------------------------------------------------+------------
1 row in set (0.00 sec)

In [ ]:

Innodb Architecture 
==========================================

In-Memory structures - Buffer pool , Change buffer , Adaptive Hash Index , Log buffer.

On-Disk structures - Tables , Indexes , Tablespaces , Double write buffer , redo logs , undo logs.


In-Memory structures
=======================================


Buffer Pool -- is the main memory area where innodb caches table and index data as it is accessed.
            -- this memory area allows direct access to data which speeds up processing.
            -- on dedicated servers , upto 80% memory is oftern assigned to the buffer pool.

            -- buffer pool uses LRU ( Least recently used) algorithm to evict data to store new data.
            -- buffer pool is manged as a list and divided into 2, top new sublist and bottom old sublist.
            -- new data is inserted in the middle with midpoint insertion stratergy.
            -- accessing the data in old sublist makes it young and moves it to head of new sublist.

mysql> show variables like '%innodb_buffer%';
+-------------------------------------+----------------+
| Variable_name                       | Value          |
+-------------------------------------+----------------+
| innodb_buffer_pool_chunk_size       | 134217728      |
| innodb_buffer_pool_filename         | ib_buffer_pool |
| innodb_buffer_pool_instances        | 1              |
| innodb_buffer_pool_size             | 134217728      |
+-------------------------------------+----------------+

On 64-bit systems with sufficient memory , buffer pool can be split into multiple parts to minimize contention 

innodb_buffer_pool_size = innodb_buffer_pool_chunk_size * innodb_buffer_pool_instances



Change Buffer   -- is a special data structure that caches secondary indexes.
                -- when there is insert,update and delete opeartions , the table and clustered index data
                   is cached into buffer pool but the secondary index data is cached into change buffer to
                   avoid excessive i/o.
                -- change buffer is part of buffer pool.

                -- change buffering is most valuable for workloads that are i/o bound. ( high volums of DML ).

                -- change buffering can be enabled/diabled.

                innodb-change-buffering      all (default) | none | inserts | delete | changes | purges

mysql> show variables like '%innodb_change_buffering%';
+-------------------------+-------+
| Variable_name           | Value |
+-------------------------+-------+
| innodb_change_buffering | all   |
+-------------------------+-------+


change buffer is allocated as percentage of buffer pool , max size default is 25 %

consider increasing this if there are heavy insert , update and delete activity.

consider decreasing if data is static used for reporting.

mysql> show variables like '%innodb_change_buffer%';
+-------------------------------+-------+
| Variable_name                 | Value |
+-------------------------------+-------+
| innodb_change_buffer_max_size | 25    |
+-------------------------------+-------+


Adaptive Hash Index -- innodb monitors queries and builds hash index if it sees it will speed up the execution.

mysql> show variables like '%innodb_adaptive%';
+----------------------------------+--------+
| Variable_name                    | Value  |
+----------------------------------+--------+
| innodb_adaptive_hash_index       | ON     |
| innodb_adaptive_hash_index_parts | 8      |
+----------------------------------+--------+


log buffer -- is the memory area which holds data to be written to log files on disk.
           -- default is 16 MB.
           -- if there are transactions with more inserts,updates and deletes increasing this will save disk i/o.

mysql> show variables like '%log_buffer%';
+------------------------+----------+
| Variable_name          | Value    |
+------------------------+----------+
| innodb_log_buffer_size | 16777216 |
+------------------------+----------+

In [ ]:
On-Disk structures
===============================


Doublewrite buffer -- is a storage area where the data is stored before flushing into data files.
                   -- so the name is double write , data is written to this buffer and file.

mysql> show variables like '%innodb_double%';
+-------------------------------+-------+
| Variable_name                 | Value |
+-------------------------------+-------+
| innodb_doublewrite            | ON    |
| innodb_doublewrite_batch_size | 0     |
| innodb_doublewrite_dir        |       |
| innodb_doublewrite_files      | 2     |
| innodb_doublewrite_pages      | 4     |
+-------------------------------+-------+
5 rows in set (0.01 sec)

[root@mysqlprod02 ~]# ls -rtl /var/lib/mysql/ | grep dblwr
-rw-r-----. 1 mysql mysql   8978432 Jun  4 12:50 #ib_16384_1.dblwr
-rw-r-----. 1 mysql mysql    589824 Jun  4 15:16 #ib_16384_0.dblwr
[root@mysqlprod02 ~]# 


Redo Log -- is a file where the changes to the database are recorded.
         -- its is used during crash recovery.
         -- the contents of log buffer is flushed into this redo log file.

         -- it is stored inside #innodb_redo directory with 32 files.
         -- the size of the files is specified using innodb_redo_log_capacity.
         -- 21 active and 11 spare redo logs , spare are suffixed by _tmp.

mysql> show variables like '%innodb_redo%';
+------------------------------+-----------+
| Variable_name                | Value     |
+------------------------------+-----------+
| innodb_redo_log_archive_dirs |           |
| innodb_redo_log_capacity     | 536870912 |
+------------------------------+-----------+

mysql> show variables like '%innodb_log%';
+------------------------------------+----------+
| Variable_name                      | Value    |
+------------------------------------+----------+
| innodb_log_file_size               | 50331648 |
| innodb_log_files_in_group          | 2        |
| innodb_log_group_home_dir          | ./       |
+------------------------------------+----------+

[root@mysqlprod02 ~]# ls -rtl /var/lib/mysql/#innodb_redo/
total 524288
-rw-r-----. 1 mysql mysql 16777216 Jun  4 23:16 '#ib_redo3_tmp'
-rw-r-----. 1 mysql mysql 16777216 Jun  4 23:16 '#ib_redo4_tmp'
-rw-r-----. 1 mysql mysql 16777216 Jun  4 23:16 '#ib_redo5_tmp'
-rw-r-----. 1 mysql mysql 16777216 Jun  4 23:16 '#ib_redo6_tmp'
-rw-r-----. 1 mysql mysql 16777216 Jun  4 23:18 '#ib_redo2'

[root@mysqlprod02 ~]# ls -rtl /var/lib/mysql/#innodb_redo/ | grep -v total | wc -l
32
[root@mysqlprod02 ~]# 

mysql> select * from performance_schema.innodb_redo_log_files;
+---------+--------------------------+------------+------------+---------------+---------+----------------+
| FILE_ID | FILE_NAME                | START_LSN  | END_LSN    | SIZE_IN_BYTES | IS_FULL | CONSUMER_LEVEL |
+---------+--------------------------+------------+------------+---------------+---------+----------------+
|       2 | ./#innodb_redo/#ib_redo2 | 2996553728 | 3013328896 |      16777216 |       0 |              0 |
+---------+--------------------------+------------+------------+---------------+---------+----------------+
1 row in set (0.00 sec)


Undo log -- record contains information about how to undo the latest change by a transaction.
         -- if another transaction needs the original data as part of consistent reads the unmodified data
             is retreived from the undo log.

         -- undo records are stored inside rollback segments.
         -- There are 2 types of undo records - undo records of normal tables , undo records of temporary tables.
         -- undo records of normal tables reside in undo tablespaces.
         -- undo records of temporary tables reside in global temporary tablespace.
         -- both undo tablespace and global temporary tablespace support a maximum of 128 rollback segments.

mysql> show variables like '%innodb_undo%';
+--------------------------+-------+
| Variable_name            | Value |
+--------------------------+-------+
| innodb_undo_directory    | ./    |
| innodb_undo_tablespaces  | 2     |
+--------------------------+-------+

ls -rtl /var/lib/mysql/*undo*
-rw-r-----. 1 mysql mysql 50331648 Jun  4 23:18 /var/lib/mysql/undo_001
-rw-r-----. 1 mysql mysql 33554432 Jun  4 23:18 /var/lib/mysql/undo_002

In [ ]:
Creating tables externally 
=========================================

        -- Tables can be created outside the data_directory for space management , I/O optimization , etc.

[root@mysqlprod02 lib]# cat /etc/my.cnf | grep innodb-dir
innodb-directories = /var/lib/invoicedata

mysql> create table invoices ( inv_id int primary key , inv_desc varchar(100) , inv_date datetime )
       data directory = '/var/lib/invoicedata';


Importing Innodb tables ( Transportable Tablespace)
===============================================================

Transportable Tablespace is a feature where a table can be imported by copying physical files.


1. on destination instance , create a table with same definition as the original table.

2. on destination instance , discard the tablespace of the table just created.
      
      mysql> alter table loadtesttable discard tablespace;

3. on source instance , flush table for import. only read-only transactions are allowed on this table now.

        mysql> flush table loadtesttable for export;

        ls -rtl /var/lib/mysql/loadtestdb/
        -rw-r-----. 1 mysql mysql 83886080 Jun  3 23:01 loadtesttable.ibd
        -rw-r-----. 1 mysql mysql     1065 Jun  5 20:36 loadtesttable.cfg

4. copy the .ibd and .cfg files from source to destination.

        cp -p /var/lib/mysql/loadtestdb/* /var/lib/mysql/ordersdb/

5. on source instance , use unlock table to release the lock acquired by flush table ( table goes into read-write).

        mysql> unlock tables;

6. on destination instance , import the tablespace.

        mysql> alter table loadtesttable import tablespace;

In [ ]:
Tablespaces 
=========================

system tablespace -- is the storage area for change buffer & for tables and indexes which are not in file-per-table.
                  -- in earlier version data dictionary resided in system tablespace. now it is moved to mysql tablespace.
                  -- in earlier version double write buffer also resided in system tablespace.

                  -- by default ibdata1 data file is created for system tablespace in the data directory.

mysql> show variables like '%innodb_data%';
+-----------------------+------------------------------------+
| Variable_name         | Value                              |
+-----------------------+------------------------------------+
| innodb_data_file_path | ibdata1:12M;ibdata2:20M:autoextend |
| innodb_data_home_dir  |                                    |
+-----------------------+------------------------------------+
2 rows in set (0.00 sec)

mysql> \! ls -rtl /var/lib/mysql/ibdata*
-rw-r-----. 1 mysql mysql 20971520 May 22 22:20 /var/lib/mysql/ibdata2
-rw-r-----. 1 mysql mysql 12582912 Jun  5 20:40 /var/lib/mysql/ibdata1


file-per-table tablespace -- contains data and indexes of a single table on a single datafile.
                          -- for innodb this is the default.
                          -- disabling innodb_file_per_table will create tables in system tablespace.
                          -- an .idb datafile will be created inside schema directory.
                          -- for employeesdb schema with employee_details table ,  will have employee_details.ibd file 
                             in employeesdb directory.


mysql> show variables like '%file_per_table%';
+-----------------------+-------+
| Variable_name         | Value |
+-----------------------+-------+
| innodb_file_per_table | ON    |
+-----------------------+-------+
1 row in set (0.00 sec)

Advantages of file-per-table 
        -- disk space is returned to the OS after truncating or dropping a table.
        -- tables can be created on a separate faster storage for i/o optimisation , space management.
        -- tables can be imported via transportable tablespaces which is faster than traditional mysqldump.
        -- tables can be backed up and restored quickly via hot backup tools


General Tablespace  -- is a shared tablespace where data of multiple tables can be stored.
                    -- can be created outside the data directory.


create tablespace inside data directory 
-------------------------------------------

mysql> create tablespace invoicedata;
mysql> create tablespace salesdata add datafile 'salesdatafile.ibd';
mysql> create table invoicetable1 (inv_id int , inv_name varchar(20)) tablespace invoicedata;

create tablespace outside data directory 
-------------------------------------------

mysql> show variables like '%innodb_dir%';
| innodb_directories | /var/lib/invoicedata;/opt/mysql/invoicedata |

mysql> create tablespace invoicedata2024 add datafile '/var/lib/invoicedata/invoicedata2024.ibd';

mysql> select * from information_schema.INNODB_TABLESPACES_BRIEF where name like '%invoicedata%';


Undo Tablespace -- contains undo log which contains information about how to undo latest transaction.
                -- by default 2 undo tablespaces are created with each 16 MB.
                -- additional undo tablespace can be created if undo tablespace grows large.


mysql> show variables like '%innodb_undo%';
+--------------------------+-------+
| Variable_name            | Value |
+--------------------------+-------+
| innodb_undo_directory    | ./    |
| innodb_undo_log_encrypt  | OFF   |
| innodb_undo_log_truncate | ON    |
| innodb_undo_tablespaces  | 2     |
+--------------------------+-------+
4 rows in set (0.01 sec)

mysql> select * from information_schema.INNODB_TABLESPACES_BRIEF where name like '%undo%';

mysql> select name , space_type , state from information_schema.INNODB_TABLESPACES  where name like '%undo%';


Adding undo tablespace 
-------------------------------

mysql> create undo tablespace undo_003  add datafile 'undo_003.ibu';

mysql> select name , space_type , state from information_schema.INNODB_TABLESPACES 
        where name like '%undo%';


Dropping Undo tablespace 
------------------------------------

mysql> drop undo tablespace undo_004;
ERROR 1529 (HY000): Failed to drop UNDO TABLESPACE undo_004

mysql> alter undo tablespace undo_004 set inactive;

mysql> drop undo tablespace undo_004;


Truncating Undo tablespace
------------------------------------------

Automatic 
----------------

mysql> show variables like '%innodb_undo_log%';
+--------------------------+-------+
| Variable_name            | Value |
+--------------------------+-------+
| innodb_undo_log_truncate | ON    |
+--------------------------+-------+
2 rows in set (0.00 sec)

Manual 
---------------

mysql> alter undo tablespace innodb_undo_001 set inactive;

mysql> alter undo tablespace innodb_undo_001 set active;


Temporary Tablespace -- innodb uses session temporary tablespaces and a global temporary tablespace.
                     -- session temp tablespace stores user temporary tables.
                     -- global temp tablespace stores rollback segments related to user temp tables.
                     -- by default a pool of 10 temp tablespaces are created in temp_dir for session temp tablespace.
                     -- by default a single autoextend tablespace is created for global temp tablespace.
                     -- when a session disconnects its temp tablespaces are truncated and released back to pool.

mysql> show variables like '%innodb_temp%';
+-----------------------------+-----------------------+
| Variable_name               | Value                 |
+-----------------------------+-----------------------+
| innodb_temp_data_file_path  | ibtmp1:12M:autoextend | global
| innodb_temp_tablespaces_dir | ./#innodb_temp/       | session
+-----------------------------+-----------------------+

In [ ]:

Innodb Locking 
=========================

Locks are obtained by transactions to prevent concurrent transactions from modifying some rows or 
range of rows.

Shared and Exclusive Lock -- shared lock (s) is obtained to read a row , and allow other transactions
                             to read the locked row.
                          -- exclusive lock (x) is obtained to write to a row and stops other transactions 
                             from locking the row.

Intention Locks  -- are used for co-existence of table locks and row locks.
                 -- intention shared lock (IS) indicates that a transaction intends to set a shared lock.
                 -- intention exclusive lock (IX) indicates that a transaction intends to set an exclusive lock.

                 -- an X lock is not granted if any other lock is held ( X , S , IX , IS).
                 -- an S lock is not granted if an X & IX is held. it is granted for S & IS.
                 -- an IX lock is not granted if an X & S is held. it is granted for IX & IS.
                 -- an IS lock is not granted if an X is held. it is granted for S , IX & IS.

Isolation Levels 
=============================

Isolation level defines the visibility of data during transactions.

There are 3 different read phenomena when a transaction retreives data that another 
transaction might have updated.

- Dirty read , Non repeatable read and Phantom read.

Dirty Read -- A transaction can see changes to data made by other transactions that are not commited yet.

Non repeatbale Read  -- Select statements in a transaction when run multiple times shows different
                        results based on commited data changes in another transaction.

Phanton Read  -- In a transaction a new row appears where it was not visible before.


MySQL supports all 4 isolation levels defined by SQL standard.

READ UNCOMMITTED -- this is the lowest level and have no locks.
                 -- this will have dirty reads.

READ COMMITTED  -- this is the default isolation level for many rdbms like oracle , postrgres.
                -- this will avoid dirty reads.
                -- however this will have non repeatable reads.

REPEATABLE READ  -- this is the default isolation level for MySQL.
                 -- this will avoid dirty reads and non repeatable reads.
                 -- however this will have phantom reads.

SERIALIZABLE  -- this is the highest level of isolation.
              -- this will avoid all dirty reads , non repeatable reads and phantom reads.
              -- however transaction having this isolation will not allow other transaction
                 to hold lock on the object which it is holding until it is finishes.


Autocommit , commit and rollback
=========================================

-- By default in MySQL autocommit is enabled , so every sql statement acts as a transaction and is commited.

-- To group sql statements in a transaction use 2 methods 
        -- disable autocommit , set autocommit = 0 , then at the end of the transaction use commit or rollback.
        -- use start transaction or begin , then at the end of the transaction use commit or rollback.


Locking Reads 
=======================

-- Regular SELECT statements does not give enough protection . other transactions can update or delete the same 
   rows which have been queried.

MySQL supports 2 read locks for extra safety 

-- SELECT ..... FOR SHARE --  other transactions can read the rows but cannot modify until this transaction
                              is completed.

-- SELECT ..... FOR UPDATE -- other transactions cannot read or modify the rows until this transaction
                              is completed.

In [ ]:
Configuring Thread Concurrency for Innodb 
========================================================

Innodb uses OS threads to process user transactions. you can limit number of concurrent threads by setting the parameter.
if the number of concurrent threads reaches the limit the new request sleeps for short time before it tries again.

mysql> show variables like '%innodb_thread_%';
+---------------------------+-------+
| Variable_name             | Value |
+---------------------------+-------+
| innodb_thread_concurrency | 0     |  // no limit
| innodb_thread_sleep_delay | 10000 |
+---------------------------+-------+
2 rows in set (0.00 sec)


Configuring the number of background innodb i/o threads 
===============================================================

innodb uses background threads to service various i/o requests.
This can be set using innodb_write_io_threads & innodb_read_io_threads.
The default value for these is 4. Each thread can handle upto 256 pending i/o requests.
For high end systems these can be increased to scale up the system.

mysql> show variables like '%innodb%_io_%thread%';
+-------------------------+-------+
| Variable_name           | Value |
+-------------------------+-------+
| innodb_read_io_threads  | 4     |
| innodb_write_io_threads | 4     |
+-------------------------+-------+
2 rows in set (0.00 sec)


Configuring innodb i/o capacity 
==============================================

innodb i/o capacity is usually set to number of i/o operations that the system can perform per second (IOPs).
The default value set is 200.
For high-end SSD and heavy write workloads this can be increased , for example to 1000.

mysql> show variables like '%innodb%_io_%capacity%';
+------------------------+-------+
| Variable_name          | Value |
+------------------------+-------+
| innodb_io_capacity     | 200   |
| innodb_io_capacity_max | 2000  |
+------------------------+-------+
2 rows in set (0.00 sec)